// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*STYLE GUIDE */
.colors {
  margin-bottom: 10px;
}
.sizing {
  margin-top: 20px;
  margin-bottom: 10px;
}
.color-box {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  margin-bottom: 5px;
}
